


.homeTitle {
  font-family: 'Lakki Reddy', cursive;
  font-size: 50px;

}

.dishTitle {
  font-family: 'Lakki Reddy', cursive;
  font-size: 40px;
}

.dishPrice {
  font-family: 'Lakki Reddy', cursive;
  font-size: 25px;
}

.chuckTitle {
  font-size: 50px;
  font-family: 'Lakki Reddy', cursive;
}

.cartTitle {
  font-size: 45px;
  font-family: 'Lakki Reddy', cursive;
}

.submitTitle {
  font-size: 30px;
  font-family: 'Lakki Reddy', cursive;
  
}

.profileUserInfo {
  font-size: 30px;
  font-family: 'Lakki Reddy', cursive;
}

.loadingSpinner {

  margin-top: 75%;
  /* margin: auto; */
  /* width: 50%; */
  text-align: center;
  height: 250px;
  width: 250px;

}

.emailUserInfo {
  font-size: 20px;
  font-family: 'Lakki Reddy', cursive;
}

.profileInputBox {
  /* margin:50px; */
}

.userProfilePicture {
  height: 150px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.barH {
  height: 50px;
}

.proBar1 {
  width: 25%;
}

.proBar2 {
  width: 40%;
}

.proBar3 {
  width: 60%;
}

.proBar4 {
  width: 80%;
}

.proBar5 {
  width: 100%;
  font-size: 30px;
}

.readyBar {
  margin-top: 70%;
}

.menuBtn {
  font-weight: 600;
  font-size: 25px;
  background-color: #A5BBB2;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  opacity: 94%;
  margin-top: 20%;
}

.orderBtn {
  font-weight: 600;
  font-size: 25px;
  background-color: #81FC7A;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  opacity: 94%;
  margin-top: 30%;
}

.LoadingText {
  margin-top: 35%;
  font-size: 50px;
  color: white;
}

.menuTitle {
  font-family: 'Lakki Reddy', cursive;
  font-size: 30px;

}

.navFooterHomeIcon {
  width: auto;
}

.NavBarClass {
  width: 100%;
  /* height: 50px; */
}

.qtyClass {
  font-family: 'Lakki Reddy', cursive;
  font-size: 20px;
}

.itemPhoto {
  max-width: 80%;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.subMenuTitle {
  font-family: 'Lakki Reddy', cursive;
  font-size: 40px;

}

.homePageTruck {

    width: 300px;
}

.homeMenu {

}

.companyTitle {
  font-size: 25px;
  font-weight: 700;
}

.officeHours {
  font-size: 22px;
  font-weight: 600;
}

.mainMenuBtns {
  font-weight: 600;
  font-size: 25px;
  background-color: #E9FFFD;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  opacity: 94%;
}

.homeMenuBtn {
  font-weight: 600;
  font-size: 25px;
  background-color: #FFE9EA;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  opacity: 94%;
}

.addBtn {
  font-weight: 600;
  font-size: 25px;
  background-color: #FFE9EA;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  opacity: 94%;
}

.subMenuBtns {
  font-weight: 600;
  font-size: 25px;
  background-color: #FFE9EA;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  opacity: 94%;
}

.infoRow {
  margin-top: 20px;
  width: 90%;
  text-align: center;
  background-color: #FDF4F5;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  opacity: 93%;
}

.phoneNumber {
  font-size: 30px;
  font-family: monospace;
}

.companyEmail {
  font-size: 19px;
}

.logo {
  width: 80%;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.loginBox {
  margin-top: 20%;
  opacity: 934;
  width: 80%;
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.registerBox {
  margin-top: 5%;
  opacity: 934;
  width: 80%;
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.passwordRecoveryLink {
  text-align: right;
  color: blue;
  font-weight: 700;
  margin-right: 5%;
}

.inputdiv {
	margin-top: 10%;
  padding: 4%;
}

.loginTextBox {
    width: 100%;
}

.registerdiv {
  margin-top: 6%;
}

.inputlabel {
	margin-bottom: 7px;
	font-size: 20px;
	color: #2f2f2f;
}

.welcometo{
	font-size: 32px;
	font-weight: 500;
	/* padding-bottom: 8px; */
	/* color: #545454; */
}

.startbtns {
	padding: 12px 26px;
	color: white;
	font-weight: 600;
	border: none;
	margin: 12px;
	width: 57%;
	background-color: rgb(92, 155, 227);
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
}

.startbtns:hover {
	transition: 0.2s;
	background-color: rgb(156, 194, 236);
	-webkit-transition: 0.2s;
	-moz-transition: 0.2s;
	-ms-transition: 0.2s;
	-o-transition: 0.2s;
}

.startinputs {
  width: 95%;
}

.btndiv {
	margin-top: 6%;
}

.emailUserInfo {
  /* opacity: 96%; */
  /* width: 80%; */
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.idText {
  font-size: 20px;
}

body {
  background-color: #fc636b;
  opacity: 93%;
}

footer ul li p {
  font-size: 12px;
}