


.homeTitle {
  font-family: 'Lakki Reddy', cursive;
  font-size: 50px;

}

.menuTitle {
  font-family: 'Lakki Reddy', cursive;
  font-size: 30px;

}

.homePageTruck {

    width: 300px;
}

.homeMenu {

}

.companyTitle {
  font-size: 25px;
  font-weight: 700;
}

.officeHours {
  font-size: 22px;
  font-weight: 600;
}

.mainMenuBtns {

}

.infoRow {
  margin-top: 20px;
  width: 90%;
  text-align: center;
  background-color: #FDF4F5;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  opacity: 93%;
}

.phoneNumber {
  font-size: 30px;
  font-family: monospace;
}

.companyEmail {
  font-size: 19px;
}

.logo {
  width: 80%;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.loginBox {
  margin-top: 20%;
  opacity: 934;
  width: 80%;
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.registerBox {
  margin-top: 5%;
  opacity: 934;
  width: 80%;
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.passwordRecoveryLink {
  text-align: right;
  color: blue;
  font-weight: 700;
  margin-right: 5%;
}

.inputdiv {
	margin-top: 10%;
  padding: 4%;
}

.loginTextBox {
    width: 100%;
}

.registerdiv {
  margin-top: 6%;
}

.inputlabel {
	margin-bottom: 7px;
	font-size: 20px;
	color: #2f2f2f;
}

.welcometo{
	font-size: 32px;
	font-weight: 500;
	/* padding-bottom: 8px; */
	/* color: #545454; */
}

.startbtns {
	padding: 12px 26px;
	color: white;
	font-weight: 600;
	border: none;
	margin: 12px;
	width: 57%;
	background-color: rgb(92, 155, 227);
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
}

.startbtns:hover {
	transition: 0.2s;
	background-color: rgb(156, 194, 236);
	-webkit-transition: 0.2s;
	-moz-transition: 0.2s;
	-ms-transition: 0.2s;
	-o-transition: 0.2s;
}

.startinputs {
  width: 95%;
}

.btndiv {
	margin-top: 6%;
}



body {
  background-color: #fc636b;
  opacity: 93%;
}

footer ul li p {
  font-size: 12px;
}