


.homeTitle {
  font-family: 'Lakki Reddy', cursive;
  font-size: 50px;

}

.dishTitle {
  font-family: 'Lakki Reddy', cursive;
  font-size: 40px;
}

.dishPrice {
  font-family: 'Lakki Reddy', cursive;
  font-size: 25px;
}

.chuckTitle {
  font-size: 50px;
  font-family: 'Lakki Reddy', cursive;
}

.cartTitle {
  font-size: 45px;
  font-family: 'Lakki Reddy', cursive;
}

.submitTitle {
  font-size: 30px;
  font-family: 'Lakki Reddy', cursive;
  
}

.profileUserInfo {
  font-size: 22px;
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-weight: 700;
}

.loadingSpinner {

  margin-top: 75%;
  /* margin: auto; */
  /* width: 50%; */
  text-align: center;
  height: 250px;
  width: 250px;

}

.emailUserInfo {
  font-size: 19px;
  font-family: 'Lakki Reddy', cursive;
  font-weight: 700;
}

.profileInputBox {
  /* margin:50px; */
}

.contactFooter {
  opacity: 93%;
  width: 80%;
  background-color: rgb(230, 230, 230);
  border-radius: 15px 15px 0 0;
  -webkit-border-radius: 15px 15px 0 0;
  -moz-border-radius: 15px 15px 0 0;
  -ms-border-radius: 15px 15px 0 0;
  -o-border-radius: 15px 15px 0 0;
}

.userProfilePicture {
  height: 150px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.barH {
  height: 50px;
}

.proBar1 {
  width: 25%;
}

.orderItems {
  font-size: 20px;
  font-weight: 700;
  text-align: left;
}

.submittedDrop {
  background-color: #31a531;
  font-weight: 700;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.submittedWIP {
  background-color: #fff200;
  font-weight: 700;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.dropMenuKitchen {
  opacity: 90%;
}

.NotAuthHeader {
  margin-top: 90%;
  font-size: 40px;
  font-weight: 700;
}

.customerNameBox {
  border-style: solid;
  border-width: 3px;
  border-color: #a0a0a0;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.submittedReady {
  background-color: #00ff00;
  font-weight: 700;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.submittedPickedUp {
  background-color: #a1a1a1;
  font-weight: 700;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.statusBox {
  border-style: solid;
  border-width: 6px;
  border-color: #828282;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.updateStatusBox {
  background-color: #31a531;
  opacity: 94%;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.statusText {
  font-size: 18px;
  font-weight: 700;

}
.itemsTitle {
  font-size: 30px;
  font-weight: 700;
}

.kitchenPageTitle {
  font-size: 50px;
}

.orderStatusBox {
  background-color: #bec1be;
  opacity: 94%;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
.orderRow {
  height: 15%;
  background-color: #81FC7A;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.proBar2 {
  width: 40%;
}

.tableText {
  font-size: 20px;
  font-weight: 700;
}

.proBar3 {
  width: 60%;
}

.proBar4 {
  width: 80%;
}

.pleaseLogin {
  margin-top: 60%;
  font-size: 50px;
}

.loginText {
  margin-top: 30%;
  font-size: 60px;
}

.pleaseLogin2 {
  font-size: 30px;
}

.proBar5 {
  width: 100%;
  font-size: 30px;
}

.regsiterLink {
  font-size: 50px;
  margin-top: 20%;
}

.readyBar {
  margin-top: 53%;
}

.menuBtn {
  font-weight: 600;
  font-size: 25px;
  background-color: #FDF4F5;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  opacity: 90%;
  /* margin-top: 20%; */
}

.tosText {
  width: 100%;
  font-size: 11px;
}

.form-check-input {
  display:block;
}

.orderBtn {
  font-weight: 600;
  font-size: 25px;
  background-color: #81FC7A;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  opacity: 90%;
  /* margin-top: 30%; */
}

.LoadingText {
  margin-top: 35%;
  font-size: 50px;
  color: white;
}

.menuTitle {
  font-family: 'Lakki Reddy', cursive;
  font-size: 30px;

}

.navFooterHomeIcon {
  width: auto;
  max-height: 45px;
}

.navFooterHomeIconAdmin {
  width: 35px;
}

.NavBarClass {
  width: 100%;
  /* height: 50px; */
}

.qtyClass {
  font-family: 'Lakki Reddy', cursive;
  font-size: 20px;
}

.itemPhoto {
  max-width: 80%;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.subMenuTitle {
  font-family: 'Lakki Reddy', cursive;
  font-size: 40px;

}

.cartTableText {
  /* background-color: #7a9ffc; */
  font-size: 14px;
  font-weight: 500;
}

.cartTotalText {
  font-size: 20px;
  font-weight: 900;
}

.cartTotalBox {
  font-size: 16px;
  font-weight: 900;
  background-color: #FDF4F5;
  width: 80%;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

.cartTableTitle {
  /*background-color: #7a9ffc;
  */font-size: 22px;
  font-weight: 600;
  opacity: 94%;
  /* width: 95% */
}

.logoutBTN {
  width: 80%;
  margin-bottom: 150px;
}

.homePageTruck {

    width: 300px;
}

.homeMenu {

}

.companyTitle {
  font-size: 25px;
  font-weight: 700;
}

.officeHours {
  font-size: 22px;
  font-weight: 600;
}

.mainMenuBtns {
  font-weight: 600;
  font-size: 25px;
  background-color: #ffffffe2;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  opacity: 94%;
}

.homeMenuBtn {
  font-weight: 600;
  font-size: 25px;
  background-color: #ffffffe2;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  opacity: 94%;
}

.clearBtn {
  font-weight: 600;
  font-size: 25px;
  background-color: #ff2020e2;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  opacity: 90%;
}

.addBtn {
  font-weight: 600;
  font-size: 25px;
  background-color: #ffffffe2;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  opacity: 94%;
}

.subMenuBtns {
  font-weight: 600;
  font-size: 25px;
  background-color: #ffffffe2;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  opacity: 94%;
}

.infoRow {
  margin-top: 20px;
  width: 90%;
  text-align: center;
  background-color: #FDF4F5;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  opacity: 93%;
}

.phoneNumber {
  font-size: 30px;
  font-family: monospace;
}

.companyEmail {
  font-size: 19px;
}

.logo {
  width: 80%;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.loginBox {
  margin-top: 20%;
  opacity: 934;
  width: 80%;
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.registerBox {
  margin-top: 5%;
  opacity: 934;
  width: 80%;
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.passwordRecoveryLink {
  text-align: right;
  color: blue;
  font-weight: 700;
  margin-right: 5%;
}

.inputdiv {
	margin-top: 10%;
  padding: 4%;
}

.loginTextBox {
    width: 100%;
}

.registerdiv {
  margin-top: 6%;
}

.inputlabel {
	margin-bottom: 7px;
	font-size: 20px;
	color: #2f2f2f;
}

.welcometo{
	font-size: 32px;
	font-weight: 500;
	/* padding-bottom: 8px; */
	/* color: #545454; */
}

.startbtns {
	padding: 12px 26px;
	color: white;
	font-weight: 600;
	border: none;
	margin: 12px;
	width: 57%;
	background-color: rgb(92, 155, 227);
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
}

.startbtns:hover {
	transition: 0.2s;
	background-color: rgb(156, 194, 236);
	-webkit-transition: 0.2s;
	-moz-transition: 0.2s;
	-ms-transition: 0.2s;
	-o-transition: 0.2s;
}

.startinputs {
  width: 95%;
}

.btndiv {
	margin-top: 6%;
}

.emailUserInfo {
  /* opacity: 96%; */
  /* width: 80%; */
  font-family: monospace;
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.idText {
  font-size: 20px;
  /* margin-bottom: 60px; */
}

body {
  background-color: #fc636b;
  opacity: 93%;
}

footer ul li p {
  font-size: 12px;
}