


.homeTitle {
  font-family: 'Lakki Reddy', cursive;
  font-size: 50px;

}

.homePageTruck {

    width: 300px;
}

.homeMenu {

}

.companyTitle {
  font-size: 25px;
  font-weight: 700;
}

.officeHours {
  font-size: 22px;
  font-weight: 600;
}

.infoRow {
  margin-top: 20px;
  width: 90%;
  text-align: center;
  background-color: whitesmoke;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.phoneNumber {
  font-size: 36px;
}

body {
  background-color: #DA4453;
}

footer ul li p {
  font-size: 12px;
}